
::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
	background-color: #2c2c2c;
	/*margin: 40px;*/
	/*font: 13px/20px normal Helvetica, Arial, sans-serif;*/
	/*color: #4d4d4d;*/
  /*padding-top: 60px;  When using the navbar-top-fixed */
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

/*#body{
	margin: 0 15px 0 15px;
}*/
/*
p.footer{
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}*/

/*#container{
	margin: 10px;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}*/

.colorWhite
{
	color: white;
}


#wrapper
{
	margin: 0 auto 0 auto;/*dimention needed for sticky footer*/
	color:white;
	background-color: #2c2c2c;
	width:1024px;
}



/*header*/
#pageHeadtext
{
	background-color: #ffffff;
	width:980px;
	height:100px;
	padding:22px;
	color:#2c2c2c;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#headText1,#headText2
{
	font-size:20px;
	margin: 5px 0;
}
#headText3
{
	font-size:40px;
	margin: 5px 0;
	line-height: 35px;
}
hr {
  border-top: 1px dotted #2c2c2c;
  color: #2c2c2c;
  margin: 5px 125px 5px 0;
  /*height: 1px;*/
  /*width:50%;*/
}










/*navigation*/
#pageNav
{
	padding: 22px 0 0 22px;
}
#pageNavLeft
{
	width: 668px;
	float: left;
	/*height: 200px;*/
}
.navButton1
{
	float:left;
	background-color: white;
	color: #2c2c2c;
	margin: 0 11px 11px 0;
	padding: 5px 0 0 10px;
	width:313px;
	height:50px;
	/*border:3px solid white;*/
	border-radius:20px;
}
.navButton1 p
{
	font-size:42px;
	padding:11px 0 0 54px;
}
#navButton2
{
	float:right;
	background-color: #ff8080;
	color:#2c2c2c;
	margin: 0 22px 22px 0;
	width:306px;
	height:120px;
	border-radius:20px;
}
#navButton2 p
{
	font-size:61px;
	padding:30px 0 0 42px;
	line-height: 60px;
	cursor: pointer;
}
.divisionopaque
{
	opacity:0.75;
  background-color:black;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:10;
  display: none;
  cursor: pointer;
}
.stopbox
{
  display: none;
  position: fixed;
  left: 50%;
  top:34px;
  z-index:20;
  margin-left: -350px;
  cursor: pointer;
}
.stopbox p
{
	text-align: center;
	color:white;
	font-size:60px;
}













/*pageContent*/
#pageContent
{
	padding: 22px 11px 0 22px;
	height:438px;
}

.twoButton {
	background-color: white;
	width: 484px;
	height:398px;
	margin: 0 11px 0 0;
	padding-top: 40px;
	float:left;
	color:#2c2c2c;
	font-size: 55px;
	text-align: center;
	border-radius:20px;
}
.fourbutton {
	background-color: white;
	width: 484px;
	height:203px;
	margin: 0 11px 11px 0;
	float:left;
	color:#2c2c2c;
	font-size: 55px;
	text-align: center;
	border-radius:20px;
	padding-top: 10px;
}
.fourbutton i
{
	font-size: 110px;
}
#logButton
{
	width: 112px;
	height:65px;
	position: absolute;
	color:white;
	background-color: #2c2c2c;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	padding:22px 0 0 10px;
	margin-left: 890px;
}
#logButton p
{
	font-size:30px;
	padding-top: 10px;
	padding-left: 40px;
}

a:link { 
	text-decoration: none;
	color:#2c2c2c;
	}
a:visited { 
	text-decoration: none;
	color:#2c2c2c;
	}
a:hover { 
	text-decoration: none;
	color:#2c2c2c;
	}
a:active { 
	text-decoration: none;
	color:#2c2c2c;
}


#dummy
{
	z-index:30;
	display: none;
	position: absolute;
	margin-top: -1146px;
}
#changeText,#calendar,#calendarImage,#keyboard
{
	cursor: pointer;
}
#calendarImage
{
	position:absolute;
	display:none;
	z-index:99999;
	top:100px;
	left:50%;
	margin-left: -475px;
}
#keypadImage
{
	position:absolute;
	display:none;
	z-index:99999;
	top:238px;
	left:50%;
	margin-left: -512px;
}