
::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
	background-color: #4d4d4d;
	/*margin: 40px;*/
	/*font: 13px/20px normal Helvetica, Arial, sans-serif;*/
	/*color: #4d4d4d;*/
  /*padding-top: 60px;  When using the navbar-top-fixed */
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body{
	margin: 0 15px 0 15px;
}

p.footer{
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

/*#container{
	margin: 10px;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}*/
#wrapper
{
	min-height: 100%;
	height:768px;
	margin: 0 auto 0 auto;/*dimention needed for sticky footer*/
	color:white;
	background-color: black;
	width:1024px;
}
#pageHeadtext
{
	background-color: #ffffff;
	width:984px;
	height:80px;
	padding:20px;
	color:black;
}
#pageContent
{
	padding: 20px 30px 0 30px;
}
#pageNav
{
	padding: 0 30px 0 30px;
}
#pageNavLeft
{
	width: 624px;
	float: left;
	/*height: 200px;*/
}
.colorDiv1
{
	background-color: white;
	width: 460px;
	height:200px;
	margin: 10px;
	float:left;
	color:black;
}


/*.button1,.button2,.button3,.button6
{
	float:left;
	background-color: white;
	color:black;
	margin: 10px 20px;
}
.button1
{
	width:100px;
	height:50px;
}
.button2
{
	width:240px;
	height:50px;
}
.button3
{
	width:193px;
	height:50px;
}
.button6
{
	width:660px;
	height:50px;
}*/
.navButton1
{
	float:left;
	background-color: white;
	color:black;
	margin: 10px;
	width:292px;
	height:50px;
}
.navButton2
{
	float:right;
	background-color: white;
	color:black;
	margin: 10px;
	width:320px;
	height:120px;
}
